__pycache__

# IDE Config Files
.idea/
.vscode/

# Python Notebooks
*.ipynb

# Extra Files
*.pdf
*.csv
*.png

# Apple folder config
.DS_Store

LapMatPred/legacy.py

/*.npy
/result_data.json
extra/
images/
data/
models/
out/
